2015-02-21 - 18-00 Crystal Palace 1 - 2 Arsenal
2015-02-21 - 18-00 Swansea 2 - 1 Manchester United
2015-09-26 - 17-00 Liverpool 3 - 2 Aston Villa
2016-01-13 - 22-45 Chelsea 2 - 2 West Brom
2016-02-07 - 10-00 Chelsea 1 - 1 Manchester United
2016-09-16 - 22-00 Chelsea 1 - 2 Liverpool
calibration
calibration-2023
game_example
models
test_video
__pycache__
plot
wandb
checkpoints
checkpoints_30_10_10
tm.png
kp.png